### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

### Default

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

##############################
*.sln.DotSettings.user
*.env.dev
*.env.staging
*.env.prod

.DS_Store
*.swp
.vs
.vscode
