@using Blog.Admin.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Blog.Admin.Areas.Account.VIewModels.Settings.UpdateLanguageViewModel
@inject CommonLocalizationService CommonLocalization

<form asp-area="Account" asp-controller="Settings" asp-action="UpdateLanguage" class="space-y-8 divide-y divide-gray-200 mt-4" method="post">
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
        <div class="space-y-6 sm:space-y-5">
            <div class="space-y-6 sm:space-y-5">
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                    <label asp-for="FormInput.Language" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"></label>
                    <select asp-for="FormInput.Language" asp-items="Model.Languages" class="mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    </select>
                    <span asp-validation-for="FormInput.Language" class="mt-2 text-sm text-red-600" id="name-error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-5">
        <div class="flex justify-end">
            <button type="button" onclick="history.back()" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">@CommonLocalization.Get("返回")</button>
            <button type="submit" class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">@CommonLocalization.Get("提交")</button>
        </div>
    </div>
</form>