@using Blog.Admin.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Blog.Admin.Areas.Account.VIewModels.Register.IndexViewModel
@inject CommonLocalizationService CommonLocalization

@{
    Layout = "_Layout3";
}

<div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">@CommonLocalization.Get("注册")</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <a asp-action="Index" asp-controller="SignIn" asp-area="Account" class="font-medium text-indigo-600 hover:text-indigo-500">@CommonLocalization.Get("登录")</a>
    </p>
</div>

<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

        <form class="space-y-6" method="POST">

            <div>
                <label asp-for="FormInput.Email" class="block text-sm font-medium text-gray-700"></label>
                <div class="relative mt-1 rounded-md shadow-sm">
                    @if (ViewData.ModelState["Email"] != null && ViewData.ModelState["Email"]!.Errors.Any())
                    {
                        <input id="email" type="email" asp-for="FormInput.Email" autocomplete="email" required class="block w-full rounded-md border-red-300 pr-10 text-red-900 placeholder-red-300 focus:border-red-500 focus:outline-none focus:ring-red-500 sm:text-sm" placeholder="you@example.com" value="adamwathan" aria-invalid="true" aria-describedby="email-error">
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                            <!-- Heroicon name: mini/exclamation-circle -->
                            <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                            </svg>
                        </div>
                    }
                    else
                    {
                        <input id="email" type="email" asp-for="FormInput.Email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    }
                </div>
                <span asp-validation-for="FormInput.Email" class="mt-2 text-sm text-red-600" id="email-error"></span>
            </div>


            <div>
                <label asp-for="FormInput.Password" class="block text-sm font-medium text-gray-700"></label>
                <div class="relative mt-1 rounded-md shadow-sm">
                    @if (ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"]!.Errors.Any())
                    {
                        <input id="password" type="password" asp-for="FormInput.Password" autocomplete="new-password" required class="block w-full rounded-md border-red-300 pr-10 text-red-900 placeholder-red-300 focus:border-red-500 focus:outline-none focus:ring-red-500 sm:text-sm" placeholder="you@example.com" value="adamwathan" aria-invalid="true" aria-describedby="email-error">
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                            <!-- Heroicon name: mini/exclamation-circle -->
                            <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                            </svg>
                        </div>
                    }
                    else
                    {
                        <input id="password" type="password" asp-for="FormInput.Password" autocomplete="new-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    }
                </div>
                <span asp-validation-for="FormInput.Password" class="mt-2 text-sm text-red-600" id="password-error"></span>
            </div>

            <div>
                <label asp-for="FormInput.PasswordConfirmation" class="block text-sm font-medium text-gray-700"></label>
                <div class="relative mt-1 rounded-md shadow-sm">
                    @if (ViewData.ModelState["PasswordConfirmation"] != null && ViewData.ModelState["PasswordConfirmation"]!.Errors.Any())
                    {
                        <input id="password-confirmation" type="password" asp-for="FormInput.PasswordConfirmation" autocomplete="new-password" required class="block w-full rounded-md border-red-300 pr-10 text-red-900 placeholder-red-300 focus:border-red-500 focus:outline-none focus:ring-red-500 sm:text-sm" placeholder="you@example.com" value="adamwathan" aria-invalid="true" aria-describedby="email-error">
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                            <!-- Heroicon name: mini/exclamation-circle -->
                            <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                            </svg>
                        </div>
                    }
                    else
                    {
                        <input id="password-confirmation" type="password" asp-for="FormInput.PasswordConfirmation" autocomplete="new-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    }
                </div>
                <span asp-validation-for="FormInput.PasswordConfirmation" class="mt-2 text-sm text-red-600" id="password-confirmation-error"></span>
            </div>


            <div>
                <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">@CommonLocalization.Get("注册")</button>
            </div>
        </form>
    </div>
</div>