<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Blog.Web</title>
    <link rel="stylesheet" href="~/css/tailwindcss.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @* Google Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body
    x-data="{
        showTopDropDown: false,
        toggleTopDropDown() {
            window.scrollTo({ top: 0});
            this.showTopDropDown = !this.showTopDropDown;
        },
        closeTopDropDown() {
            this.showTopDropDown = false;
        }
    }"
    class="bg-white font-noto">

@await Component.InvokeAsync("Nav", ViewData["CurrentTopic"])

<main role="main" class="pb-3 relative z-0">
    @RenderBody()
</main>

<footer class="bg-gray-50" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-20 sm:pt-24 lg:px-8 lg:pt-32">
        @* Footer 上半部分 *@
        @await Component.InvokeAsync("SiteMapDisplay")
        <div class="mt-8 flex justify-start">
            @await Component.InvokeAsync("SocialLinkDisplay")
        </div>
        @* Footer 下半部分 *@
        <div class="mt-8 border-t border-gray-900/10 pt-8 md:flex md:items-center md:justify-between">
            <div class="flex space-x-6 md:order-2">
                @await Component.InvokeAsync("CultureDisplay")
            </div>
            <p class="mt-8 text-xs leading-5 text-gray-500 md:order-1 md:mt-0">&copy; 2020 Your Company, Inc. All rights reserved.</p>
        </div>
    </div>
</footer>


<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>